{% extends "layout.html" %}

{% block title %}
    Grades
{% endblock %}
                               
{% block rightcolumn %}
      <div class="ind">
        <form action="/gradeschange" method="post" id="myform">
            <div>
                <input type="text" name="course" placeholder="Course" size="15" class="inp" style="position: relative; left: 25px;">
                <input type="text" name="exam" placeholder="exam" size="15" class="inp" style="position: relative; left: 25px;">
            </div>
            <div>
                <input type="number" name="rowgrades" placeholder="Raw Grades" min="0" step="0.2" style="border-radius:5px; position: relative; left: -15px;">
                <input type="number" name="weigth" placeholder="Weigth" min="0" style="border-radius:5px; position: relative; left: -15px;">
                <input type="hidden" name="semester" value="{{ semester }}">
            <div>
                <select name="year" style="border-radius:5px; position: relative; left: 105px;">
                    <option disabled selected>Year</option>
                    {% for elem in years %}
                    <option class ="grd" value="{{ elem["year"] }}">{{ elem["year"] }}</option>
                    {% endfor %}
                </select>
                <select name="action" id="actselect" style="border-radius:5px; position: relative; left: 120px;">
                    <option disabled selected>Action</option>
                    <option value="add">Add</option>
                    <option value="delete">Delete</option>
                </select>
            </div>
            </div>
        </form>
      </div>
{% endblock %}
